:root {
  --dark-grey: #161616;
  --dark-green: #5e8b6f;
  --medium-green: #acdeaa;
  --light-green: #e4efe7;
}

.header {
  background-color: var(--dark-grey);
  height: 100vh;
}

.about-title {
  background-color: var(--medium-green);
  color: white;
  height: 100vh;
}

.about-details {
  background-color: white;
  height: 100vh;
  border-bottom: 1px solid var(--light-green);
}

.education-title {
  background-color: white;
  color: var(--dark-green);
  height: 100vh;
}

.education-details {
  background-color: var(--light-green);
  height: 100vh;
  padding-bottom: 0;
  border-top: 1px solid var(--light-green);
  border-bottom: 2px solid var(--light-green);
}

.experience-title {
  background-color: var(--dark-green);
  color: white;
  height: 100vh;
}

.experience-details {
  background-color: white;
  height: 100vh;
  border-bottom: 1px solid var(--medium-green);
}

.skills-title {
  background-color: white;
  color: var(--dark-green);
  height: 100vh;
}

.skills-details {
  background-color: var(--medium-green);
  height: 100vh;
}

.contact-title {
  background-color: var(--dark-grey);
  color: white;
  height: 100vh;
}

.contact-details {
  background-color: white;
  height: 100vh;
}

.about-details, .experience-details, .education-details, .skills-details, .contact-details {
  line-height: 2;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.about-details, .experience-details, .skills-details, .contact-details {
  padding: 4.5rem 4rem;
}

.about-details::-webkit-scrollbar, .experience-details::-webkit-scrollbar, .education-details::-webkit-scrollbar, .skills-details::-webkit-scrollbar, .contact-details::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

@media (max-width: 899px) {
  .about-details {
    border: none;
  }

  .education-title {
    background-color: var(--dark-grey);
    color: white
  }

  .experience-details {
    border: none;
  }

  .skills-title {
    background-color: var(--light-green);
  }
}

/* iPhone Landscape Styling */

@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 900px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      .about-details, .education-details, .skills-details, .contact-details {
        height: auto;
      }

      .experience-details {
        line-height: 1.5;
        height: 125vh;
      }
}

/* iPhone Portrait Styling */

@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 900px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      .about-details, .education-details, .skills-details, .contact-details {
        height: auto;
      }
      
      .experience-details {
        line-height: 1.5;
      }
}